.App {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #eef0f8;
  padding: 50px 50px;
  height: 100%;
  width: 100%;
}
#myFavor {
  max-height: 400px;
  width: 400px;
  overflow: scroll;
  border: 1px solid #aaa;
}
#myFavor .favor-list {
  list-style: none;
}
#myFavor .favor-list img {
  border-radius: 50%;
}
#myFavor .favor-list .description {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h4 {
  margin: 0px 0px 0.2rem 0px;
}
.tinder{
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 600px) {
  .tinder{
    display: flex;
    flex-direction: column;
  }
}
